.contentbox{
    width: 1000px;
    margin:  0 auto;
    /* background-color: red; */

}

.contentbox .title{
    font-size: 18px;
    margin-top: 40px;
}

.contentbox .time{
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.contentbox .time .yuanc{
    border: 1px solid #cccccc;
}
.contentbox .time span{
    color:#cccccc;
    font-size: 16px;
   
    line-height: 28px;
    color: #cccccc;
    margin-right: 10px;
}
.contentbox p{
    margin-top: 20px;
}
.share-let{
   /* background-color:pink; */
   width: 50px;
   position: fixed;
   z-index: 11;
   float: left;
   left: 140px;
   top:80px
}
.share-let div{
    font-size: 18px;
}
.re-let .images{

}
.share-let .images .images-box{
    
    /* width: 40px;
    height: 40px; */
}
.share-let .images .images-box a{
  
}
.share-let .images .img2{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.share-let .images .img1{
    width: 50px;
    height: 50px;
  
}
.share-let .images img:hover{
    /* background-color: #000; */
    opacity: 0.5;
    
}

.base{
    width: 1000px;
    text-align: right;
    /* background-color: red; */
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.base .collect{
display: inline-block;
margin-right: 30px;
}
.base .collect img{
width: 20px;
height: 20px;
vertical-align: middle;

}
.base .collect span{
    font-size: 15px;
    vertical-align: middle;
    color: #cccccc;
}

.base .like{
    display: inline-block;
    height: 20px;
}

.base .like span{
    font-size: 15px;
    vertical-align: middle;
    color: #cccccc;
    
}
.base .like img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}